<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Minesweeper App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Create New Board", new_board_path, class: "btn btn-success ml-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "View All Generated Boards", boards_path, class: "btn btn-primary mr-2" %>
      </li>
    </ul>
  </div>
</nav>
